body{
    background-color: #0CABA8;
}

#main_title{
    text-align: center;
    color: white;
}

#A_value{
    border-radius: 3px;
    border-bottom: #0CABA8;
    border: none;
}
#B_value{
    border-radius: 3px;
    border: none;
}
#C_value{
    border-radius: 3px;
    border: none;
}

#Btn_calculate{
    margin: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#boxes_information{
    margin: 5px;
    color: white;
    position: relative;
    text-align: center;
}

#output_informations{
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 10px auto; 
    background-color: #015958;
    color: white;
    box-shadow: 3px 3px 5px black;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

#how{
    color: white;
}

.hidden{
    display: none;
}
